@import './crisp.scss';

html, body, #app {
	border: 0;
	padding: 0;
	margin: 0;
	height: 100%;
}

.hidden {
	visibility: hidden;
	height: 0;
	width: 0;
}

img {
	@extend %crisp;
}

.grayscale {
	filter: grayscale(100%);
}

@font-face {
	font-family: 'minecraft_ten';
	src: url('/minecraft_ten.ttf') format('truetype');
}

@font-face {
	font-family: 'minecraft_regular';
	src: url('/MinecraftRegular-Bmg3.otf') format('opentype');
}

* {
	scrollbar-width: auto;
	scrollbar-color: #ffffff #303030;
}

*::-webkit-scrollbar {
	width: 16px;
}

*::-webkit-scrollbar-track {
	background: #303030;
}

*::-webkit-scrollbar-thumb {
	background-color: #ffffff;
	border-radius: 10px;
	border: 0px dotted #ffffff;
}

* {
	font-family: './';
}

:global(*) {
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}