/*
 * All Margins and sizes are custom for the ktor-logo.png file.
 * You may need to modify it and find what works best for your case.
 */
.library-name a {
    position: relative;
    margin-left: 55px;
}

.library-name a::before {
    content: '';
    background-image: url('../images/icon.png');
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    width: 52px;
    height: 50px;
    top: -18px;
    left: -62px;
}