name: 'Build Tauri'
# This workflow build a Tauri app for all platforms and upload the binaries as artifacts

on:
  push:
    branches:
      - gh-pages

jobs:
  publish-tauri:
    strategy:
      fail-fast: false
      matrix:
        platform: [macos-latest, ubuntu-20.04, windows-latest]

    runs-on: ${{ matrix.platform }}
    steps:
      - uses: actions/checkout@v4

      - uses: oven-sh/setup-bun@v2
        with:
            bun-version: latest

      - name: Install Rust stable
        uses: dtolnay/rust-toolchain@stable

      - name: Install dependencies (ubuntu only)
        if: matrix.platform == 'ubuntu-20.04'
        run: |
          sudo apt-get update
          sudo apt-get install -y libwebkit2gtk-4.1-dev libappindicator3-dev librsvg2-dev patchelf libsoup3.0-dev

      - name: Install frontend dependencies
        run: bun install

      - uses: tauri-apps/tauri-action@v0
        id: tauri

      - name: Upload .dmg binary
        if: matrix.platform == 'macos-latest'
        uses: actions/upload-artifact@v4
        with:
          name: Jext Plugin Manager_${{ steps.tauri.outputs.appVersion }}_x64.dmg
          path: src-tauri/target/release/bundle/dmg/Jext Plugin Manager_${{ steps.tauri.outputs.appVersion }}_x64.dmg

      - name: Upload .deb binary
        if: matrix.platform == 'ubuntu-20.04'
        uses: actions/upload-artifact@v4
        with:
          name: jext-plugin-manager_${{ steps.tauri.outputs.appVersion }}_amd64.deb
          path: src-tauri/target/release/bundle/deb/jext-plugin-manager_${{ steps.tauri.outputs.appVersion }}_amd64.deb

      - name: Upload .appimage binary
        if: matrix.platform == 'ubuntu-20.04'
        uses: actions/upload-artifact@v4
        with:
          name: jext-plugin-manager_${{ steps.tauri.outputs.appVersion }}_amd64.AppImage
          path: src-tauri/target/release/bundle/appimage/jext-plugin-manager_${{ steps.tauri.outputs.appVersion }}_amd64.AppImage

      - name: Upload .msi installer
        if: matrix.platform == 'windows-latest'
        uses: actions/upload-artifact@v4
        with:
          name: Jext Plugin Manager_${{ steps.tauri.outputs.appVersion }}_x64_en-US.msi
          path: src-tauri/target/release/bundle/msi/Jext Plugin Manager_${{ steps.tauri.outputs.appVersion }}_x64_en-US.msi

      - name: Upload .exe installer
        if: matrix.platform == 'windows-latest'
        uses: actions/upload-artifact@v4
        with:
          name: Jext Plugin Manager_${{ steps.tauri.outputs.appVersion }}_x64-setup.exe
          path: src-tauri/target/release/bundle/nsis/Jext Plugin Manager_${{ steps.tauri.outputs.appVersion }}_x64-setup.exe